/* src/pages/Board.css */

.board-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
}

.board-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px;
  flex: 1;
  /* Ensures content takes available space */
}

.board-area {
  width: 80%;
  margin: 20px;;
}

.insert-options {
  background-color: #DCEDC8;
  border: 2px solid #004b66;
  border-radius: 10px;
  width: 20%;
  text-align: center;
  margin: 20px;
}

.insert-option {
  margin-bottom: 10px;
}

.option-input {
  width: 80%;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 1px solid #004b66;
  font-size: 14px;
}

.option-button {
  display: inline-block;
  width: 80%;
  margin: 0 auto;
  padding: 8px;
  background-color: #add8e6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
  /* Smooth transition */
}

.results-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  text-align: left;
}

.results-list li {
  background-color: #f0f0f0;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 4px;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #004b66;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 80%;
  margin: 10px;
}

.card-header {
  font-size: 0.8rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-rowname {
  margin-left: 10px;
  font-weight:600;
}